=t "lost_password_email.title"
=t "lost_password_email.ignore_if_not_you"
=t "lost_password_email.click_the_link"

= @edit_password_reset_url

=t "lost_password_email.try_to_copy_paste"
=t "lost_password_email.if_problem_contact_us"
